$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: 	#1E90FF;
$primaryDark: 	#5F9EA0;
$primaryLight: #66CDAA;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;


